body {
  margin: 0;
  padding: 0;
  width: auto;
  text-align: center;
  background-color: #472d30;
  /*background-color: rgb(156, 242, 179);*/
}

.jumbotron {
  background-color: #eaac8b;
  /*ackground-color: #CCF3EE;*/
  height: auto;
  padding-bottom: 0.5rem;
}

.profilepic {
  size: 25%;
}

.introtext {
  font-family: cursive;
}

.navigation {
  background-color: grey;
  height: auto;
  padding: 5px;
  margin: auto;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 0.5rem;
  padding: 0;
  width: 30%;
  color: #E80F88;
}
